body {
	background-image: url('../images/background-image.jpeg');
	background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
	background-position: center;
}

.intro h1 {
	text-align: center;
	color: #4015cb;
}

